/* @import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap");

.tenXSec {
  background-color: rgb(241, 243, 244);
  padding: 14px;
  border: 1px solid rgb(208, 213, 221);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 10px;
  width: 502px;
  height: 100%;
  min-height: 90vh;
  border-radius: 20px;
  max-height: 95vh;
  overflow: hidden auto;
}

/* start logo sec  */
.logoSecTen {
  align-items: center;
  gap: 12px;
}

.logoSecTen h6 {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  font-family: "Sen", sans-serif;
}

.logoSecTen span {
  font-weight: 700;
}

.minusIcon {
  height: 2px;
  width: 12.5px;
  background-color: #000000;
  margin-right: 20px;
  cursor: pointer;
}

.headerTenX {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* End logo sec  */
/* start Campaign Name sec   */
/* .texXInputs {
    margin: 16px auto;
} */
.innerContentTen {
  margin: 16px auto;
}

.innerContentTen .texXInputs label {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  font-family: "Roboto";
  margin-bottom: 11px;
}

.innerContentTen .texXInputs input {
  border: 1px solid #d0d4e4;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  color: #86888a;
  padding: 15px 10px;
  height: 46px;
  border-radius: 8px;
}

.innerContentTen .texXInputs input:focus {
  box-shadow: unset;
}

/* End Campaign Name sec   */
/* Start Test Mail */
.textMail {
  padding: 16px 20px;
  background-color: #fff;
  border-radius: 18px;
  border: 1px solid #d0d4e4;
  /* height: 91px; */
  height: 100%;
}

.textMail input {
  font-size: 14px;
  font-weight: 400;
  color: #4a4a4a;
  padding: 5px 0;
  line-height: 16px;
  border: none;
  margin-bottom: 5px;
}

.textMail input:focus {
  box-shadow: unset;
}

.textMail .textUser p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #000000;
}

.textMail .textUser {
  display: flex;
  align-items: center;
  gap: 14px;
  box-shadow: 0 1px 4px #00000040;
  height: 33px;
  padding: 4px;
  border-radius: 100px;
  width: auto;
  justify-content: space-between;
  background-color: #fff;
}

.textMail .textUser span {
  height: 25px;
  width: 25px;
  box-shadow: 0 1px 2px #00000040;
  border-radius: 100px;
  object-fit: cover;
  background-size: cover;
  border: 1px solid #ffffff;
  margin-right: 5px;
}

.textMail .textUser span img {
  height: 25px;
  width: 25px;
  border-radius: 100px;
  object-fit: cover;
  background-size: cover;
}

.userMainText {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 6px;
  position: relative;
  top: 0;
  left: 0;
}

/* End Test Mail */
.tenXBtn {
  font-size: 14px !important;
  font-weight: 700 !important;
  padding: 12px 22px !important;
  height: 40px;
  line-height: 1 !important;
  border-radius: 100px !important;
}

/* Start Personalize Droup down  */
.perTenSelect {
  position: relative;
}

.perTenSelect .dropdown-toggle {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  padding: 12px 20px;
  color: #000000;
  border: none;
  height: 40px;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  cursor: pointer;
}

.perTenSelect .dropdown-toggle::after {
  content: unset;
}

.perTenSelect .dpIconSec {
  display: flex;
  align-items: center;
  gap: 12px;
}

.perTenSelect .dropdown-menu {
  display: none;
  position: absolute;
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 13px 10px #00000040;
  margin-top: 5px;
  padding: 13px 6px;
  border: 1px solid #d0d4e4;
}

.perTenSelect .dropdown-menu label {
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  color: #4a4a4a;
  line-height: 1;
  margin-bottom: 6px;
}

.perTenSelect .dropdown-menu label:hover {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 6px;
}

.perTenSelect .dropdown-menu input {
  margin-right: 13px;
  height: 20px;
  width: 20px;
}

/* End Personalize Droup down  */
/* start Unsubscribe link */
.unSubLinSec {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 20px;
  padding: 13px 20px;
  margin: 8px auto 15px;
  min-height: 49px;
}

.unSubLinSec .unSubText {
  display: flex;
  gap: 14px;
  align-items: center;
  flex-wrap: wrap;
}

.unSubLinSec .unSubText a {
  font-size: 14px;
  font-weight: 400;
  color: #1a73e8;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 14px;
}

.unSubLinSec .unSubText span {
  font-size: 12px;
  font-weight: 400;
  color: #4a4a4a;
  font-style: italic;
}

.unToggle-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.unToggle-switch .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.unToggle-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.unToggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e8eb;
  transition: 0.4s;
  border-radius: 34px;
  border: 1px solid #d0d5dd;
  width: 40px;
  height: 25px;
}

.unToggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 7px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 0 1px 1px #00000040;
}

.unToggle-switch input:checked + .slider {
  background-color: #007bff;
}

.unToggle-switch input:checked + .slider:before {
  transform: translateX(12px);
}

/* End Unsubscribe link */
.emailPerSec h6 {
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 24px;
}

/* Start Tracking & Analytics  */
.trackingTenSec {
  border: 1px solid #d0d4e4;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trackingTenSec h6 {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.trackinBtns {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.trackinBtns span {
  font-size: 14px;
  font-weight: 400;
  color: #ff7a33;
  padding: 4px 8px;
  background-color: #ffcdad5e;
  border-radius: 4px;
  min-height: 22px;
  text-align: center;
  line-height: 1;
}

.trackingSettSec.dropdown .dropdown-toggle {
  background-color: unset !important;
  border: none !important;
  padding: 0 !important;
}

.trackingSettSec.dropdown .dropdown-toggle::after {
  content: unset;
}

/* Start Tracking & Analytics  */

/* Start three button content  */
.tenXButtonsSec .accordion-item {
  background-color: unset;
  border: none;
}

.tenXButtonsSec .accordion-body {
  padding: 0;
}

.tenXButtonsSec .accordion-button.collapsed {
  border: 1px solid #d0d4e4;
  border-radius: 8px !important;
  margin: 8px auto;
  padding: 12px 24px;
  transition: max-height 0.5s ease-in-out;
}

.tenXButtonsSec .accordion-button {
  border-bottom: 1px solid transparent;
  border-radius: 8px 8px 0 0 !important;
  margin: 8px auto 0;
  padding: 12px 24px 0;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  align-items: center;
  gap: 12px;
  background-color: #fff;
}

.tenXButtonsSec .accordion-button:not(.collapsed) {
  background-color: #fff;
  color: unset;
  box-shadow: unset;
}

.tenXButtonsSec .accordion-button:focus {
  box-shadow: unset;
}

.accordion-flush > .accordion-item > .accordion-collapse {
  background-color: #fff;
}

.tenXButtonsSec .accordion-button:not(.collapsed) .collapse.show {
  border-bottom: 0;
  margin-bottom: 0;
}

/* .tenXButtonsSec .accordion-button::after {
    content: unset;
}

.tenXButtonsSec .accordion-button::before {
    content: "\F142";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    Preferred icon size
    display: inline-block;
}

*/

/* End three button content  */

.autoFollUpSec {
  padding: 0 22px;
}

.autoFollUpSec p {
  height: fit-content;
  font-weight: 400;
  color: #767676;
  margin: 0;
}

.boderBpad {
  overflow: hidden;
  max-height: 0px;
  border-bottom: 1px solid #d0d4e4;
}

.autoFollUpSec h6 {
  font-size: 14px;
  font-weight: 400;
  color: #1a73e8;
  margin-bottom: 16px;
}

.autoFollUpSec label.lableHeading {
  font-size: 14px;
  font-weight: 400;
  color: #4a4a4a;
  margin-bottom: 11px;
}

.autoFolDivider {
  height: 1px;
  width: 100%;
  background-color: #e5e8eb;
  margin: 13px auto 13px;
}

.autoFollStage {
  display: flex;
  align-items: center;
  gap: 13px;
  margin: 14px 0;
}

.autoFollStage span {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.autoFollStage select {
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #d0d4e4;
  color: #4a4a4a;
  width: 100px;
  height: 30px;
  line-height: 1;
}

.autoFollStage select:focus {
  box-shadow: unset;
}

.autoFollStage input {
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #d0d4e4;
  color: #4a4a4a;
  width: 55px;
  height: 30px;
  line-height: 1;
  padding: 7px 8px;
}

.autoFollStage input:focus {
  box-shadow: unset;
}

/* =========== */
.norepAuto.dropdown {
  position: relative;
  display: inline-block;
}

.norepAuto .stagedropdown-btn {
  background-color: white;
  border: 1px solid #d0d4e4;
  padding: 7px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  line-height: 1;
  color: #4a4a4a;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.norepAuto .stagedropdown-btn::after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #333;
  position: relative;
  top: 0;
  right: 0;
}

.norepAuto .dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #d0d4e4;
  border-radius: 8px;
  box-shadow: 0px 10px 13px #00000040;
  min-width: max-content;
  padding: 0;
  margin-top: 2px;
  z-index: 1000;
  min-height: 150px;
  max-height: 150px;
  overflow: auto;
}

.norepAuto .dropdown-menu label {
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  gap: 16px;
  margin: 0;
  padding: 10px 13px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.norepAuto .dropdown-menu label:hover {
  background-color: #f7f7f7;
  border-radius: 6px;
}

/* Start DroupDowns Radio Sec  */
.tenXSec .dropdown-menu input[type="radio"] {
  border-radius: 50%;
  background-color: transparent;
  height: 25px;
  width: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tenXSec .dropdown-menu input[type="radio"]::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50px;
  display: inline-block;
  position: absolute;
  /* top: 7px;
    left: 7.5px; */
  background: #fff;
  box-shadow: 0 1px 1px #0000003d;
}

.tenXSec .dropdown-menu input[type="radio"]::before {
  content: "";
  background-color: #e5e8eb;
  height: 100%;
  width: 100%;
  border: 1px solid #d0d5dd;
  display: inline-block;
  border-radius: 100px;
}

.tenXSec .dropdown-menu input:checked {
  box-shadow: unset !important;
}

.tenXSec .dropdown-menu input:checked:before {
  content: "";
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.tenXSec .dropdown-menu input[type="radio"]:hover {
  box-shadow: unset !important;
}

/* .form-check-input:checked {
    background-color: #fff !important;
    border-color: #004DFF !important;
    box-shadow: inset 0 0 0 8px #0076FE !important;
} */

.tenXSec .dropdown-menu input:checked[type="radio"] {
  --bs-form-check-bg-image: none !important;
}

/* End DroupDowns Radio Sec  */

/* ============ */
/* Start Radio input Sec  */
.tenXSec .form-check-input[type="radio"] {
  border-radius: 50%;
  background-color: transparent;
  height: 25px;
  width: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* box-shadow: inset 0 0 0 8px #E5E8EB;
    border: 1px solid #D0D5DD; */
}

.tenXSec .form-check-input[type="radio"]::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50px;
  display: inline-block;
  position: absolute;
  top: 7px;
  /* left: 7.5px; */
  background: #fff;
  box-shadow: 0 1px 1px #0000003d;
}

.tenXSec .form-check-input[type="radio"]::before {
  content: "";
  background-color: #e5e8eb;
  height: 100%;
  width: 100%;
  border: 1px solid #d0d5dd;
  display: inline-block;
  border-radius: 100px;
}

.tenXSec .form-check-input:checked {
  box-shadow: unset !important;
}

.tenXSec .form-check-input:checked:before {
  content: "";
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.tenXSec .form-check-input[type="radio"]:hover {
  box-shadow: unset !important;
}

/* .form-check-input:checked {
    background-color: #fff !important;
    border-color: #004DFF !important;
    box-shadow: inset 0 0 0 8px #0076FE !important;
} */

.tenXSec .form-check-input:checked[type="radio"] {
  --bs-form-check-bg-image: none !important;
}

.tenXSec .chosEmailSec .form-check-label {
  cursor: pointer;
}

/* End Radio input Sec  */

/* ============ */
.sabsnw1 {
  position: relative;
  display: inline-block;
}

/* .sabsnw1 svg {
    position: absolute;
    left: 0;
    top: 0;
} */

.checkBoxAllSec {
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
}

/* .checkBoxAllSec span {
    position: absolute;
    right: 4px;
    line-height: 0;
} */
.checkLabelSecText {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
}

.checkBoxAllSec svg {
  filter: drop-shadow(0px 1px 1px #00000063);
  position: absolute;
  left: 4px;
  top: 9px;
}

.checkBoxAllSec input[type="checkbox"] {
  height: 25px;
  width: 25px;
  border: 1px solid #d0d5dd;
  background-color: #e5e8eb;
  position: relative;
  box-shadow: unset;
  cursor: pointer;
}

.checkBoxAllSec input[type="checkbox"]:checked {
  border-color: #004dff;
  background-color: #0076fe;
}

.checkBoxAllSec input[type="checkbox"]::before {
  content: unset !important;
}

.checkBoxAllSec .form-check-input:checked[type="checkbox"] {
  --bs-form-check-bg-image: none !important;
}

/* Start Auto Followup Stage  */

.autoFolloStageSec.dropdown-container {
  /* width: 350px; */
  width: 100%;
  position: relative;
  margin: 0 auto 17px;
}

.autoFolloStageSec .dropdown-header {
  border: 1px solid #d0d4e4;
  border-radius: 8px;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  cursor: pointer;
  height: 40px;
}

.autoFolloStageSec .dropdown-header span {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.autoFolloStageSec .arrow {
  font-size: 14px;
  transition: transform 0.2s;
}

.autoFolloStageSec .arrow.open {
  transform: rotate(180deg);
}

.dropdown-list {
  display: none;
  margin-top: 2px;
  border-radius: 8px;
  box-shadow: 0 10px 13px #00000040;
  border: 1px solid #d0d4e4;
  padding: 12px 16px;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.autoFolloStageSec .dropdown-list.active {
  display: block;
}

.autoFolloStageSec .search-box {
  position: relative;
  margin-bottom: 10px;
}

.autoFolloStageSec .search-box input {
  width: 100%;
  padding: 10px 10px 10px 32px;
  border-radius: 8px;
  border: 1px solid #d0d4e4;
  outline: none;
  font-size: 14px;
  font-weight: 400;
}

.autoFolloStageSec .search-icon {
  position: absolute;
  left: 14px;
  top: 45%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #888;
}

.autoFolloStageSec .dropdown-items {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

.autoFolloStageSec .dropdown-items li {
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
}

.autoFolloStageSec .dropdown-items li:hover {
  background-color: #f0f0f0;
  color: #1a73e8;
}

.autoFolloStageSec .dropdown-items li.selected {
  background-color: #f0f0f0;
  font-weight: bold;
  color: #007bff;
}

.lidelFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lidelFlex .eyeDelIcons {
  display: none;
}

.lidelFlex .eyeDelIcons a:last-child {
  margin-left: 17px;
}

.autoFolloStageSec .dropdown-items li:hover .eyeDelIcons {
  display: block;
}

/* End Auto Followup Stage  */

.autoStageBtn {
  text-align: center;
  padding: 10px;
}

.autoStageBtn button {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 6px 14px;
  height: 28px;
  line-height: 1;
  border-radius: 100px;
}

/* start set time sec */

.craetePlusTimeBtn {
  height: 32px !important;
}

.setTimeSec.time-picker-wrapper {
  position: relative;
  max-width: 100px;
}

.timePickSec .time-input {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid #d0d4e4;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  height: 30px;
  line-height: 1;
}

.timePickSec .time-input:focus {
  outline: unset;
}

.timePickSec .inputTimeIcons {
  display: flex;
  position: relative;
}

.timePickSec .inputTimeIcons img {
  position: absolute;
  top: 7px;
  right: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.timePickSec .time-picker {
  display: none;
  position: absolute;
  top: 33px;
  left: 0;
  background: #fff;
  border-radius: 18px;
  padding: 30px 37px;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.25);
  text-align: center;
  z-index: 999;
  border: 1px solid #d0d5dd;
  width: 260px;
}

.timePickSec .time-picker.show {
  display: block;
}

.timePickSec .setTimeText {
  font-size: 13px;
  font-weight: 400;
  color: #192020;
  margin-bottom: 16px;
}

.timePickSec .time-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 16px auto;
  gap: 8px;
}

.timePickSec .highlight,
.timePickSec .gragyBgTime {
  border-radius: 6px;
  padding: 10px 12px;
  font-size: 24px;
  font-weight: 500;
  width: 58px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timePickSec .highlight {
  background-color: #0076fe1f;
  color: #1a73e8;
}

.timePickSec .gragyBgTime {
  background-color: #21212114;
  color: #000;
}

.timePickSec .colunTime {
  font-size: 28px;
  line-height: 1;
}

.timePickSec .timeAmPmSec {
  display: flex;
  flex-direction: column;
  border: 2px solid #dadce0;
  border-radius: 6px;
  margin-left: 0;
  line-height: 1;
}

.timePickSec .selTimePMAm {
  color: #00000099;
  font-weight: 600;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #dadce0;
  font-size: 12px;
}

.timePickSec .selTimePMAm:last-child {
  border-bottom: none;
}

.timePickSec .activebluetext {
  background-color: #0076fe1f;
  color: #1a73e8 !important;
  border-radius: 6px;
}

.timePickSec .clock {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
  background: #21212114;
  border-radius: 50%;
  position: relative;
}

.timePickSec .hand {
  position: absolute;
  width: 2px;
  height: 80px;
  background: #1976d2;
  top: 20px;
  left: 99px;
  transform-origin: bottom;
}

.timePickSec .center-dot {
  width: 12px;
  height: 12px;
  background: #1976d2;
  border-radius: 50%;
  position: absolute;
  top: 94px;
  left: 94px;
}

.timePickSec .hour-marker {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  background-color: #f0f0f0;
}

.timePickSec .hour-marker.selected {
  background: #1976d2;
  color: white;
  z-index: 2;
}

.timePickSec .buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  font-weight: bold;
}

.timePickSec .buttons span {
  cursor: pointer;
  font-size: 18px;
  color: #4a4a4a;
  font-weight: 500;
}

/* End set time sec */
/* ======= */
.chosEmailSec {
  margin: 45px auto 20px;
}

.chosEmailSec .headMailChose {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 13px;
}

.chosEmailSec .form-check {
  display: flex;
  align-items: center;
  /* gap: 13px; */
  margin: 0;
}

.chosEmailSec .form-check-label {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding-left: 16px;
}

.chosEmailSec .d-flex {
  gap: 47px;
}

/* ========= */
.schedSec button.customDateBtn {
  border-radius: 8px;
  height: 35px;
  padding: 0px 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  background-color: #1a73e8;
  white-space: nowrap;
}

.schedSec {
  justify-content: space-between;
  margin-bottom: 0;
}

.schedSec .stagedropdown-btn {
  width: 100%;
  min-width: 251px;
  max-width: 251px;
  height: 35px;
  justify-content: space-between;
}

.schedSec .chosEmailSec {
  margin: 25px auto 10px !important;
}

.schedSec .autoFollStage input.form-control {
  width: 85px;
}

.schdualLabels .autoFollStage {
  margin: 12px auto 0 !important;
}

.schdualLabels .form-check {
  display: flex;
  align-items: center;
  gap: 13px;
  margin: 0;
}

.schdualLabels .form-check-label {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  cursor: pointer;
}

.prevent-btn {
  min-width: 85px !important;
}

/* ===== */
.Campaigntoggle-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 17px;
}

.Campaigntoggle-row span {
  font-size: 14px;
  font-weight: 500;
}

.timing-options .form-check {
  display: flex;
  align-items: center;
  /* gap: 13px; */
  margin: 0 auto 14px;
}

.timing-options .form-check-label {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  cursor: pointer;
  padding: 0 13px;
}

.dayHeadImm {
  font-size: 14px;
  font-weight: 400;
  margin-left: 13px;
  line-height: 1;
}

.timing-options .dayInput {
  max-width: 70px;
  min-width: 70px;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
}

.timing-options .dayInput:focus {
  outline: unset;
  box-shadow: unset;
}

.SettingSecBtn .dropdown-item:hover {
  background-color: #f7f7f7;
}

.SettingSecBtn .dropdown-item .form-check {
  display: flex;
  align-items: center;
  gap: 16px;
}

.SettingSecBtn .dropdown-item .form-check-label {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.SettingSecBtn .dropdown-item .form-check-label span {
  font-size: 12px;
  color: #4a4a4a;
  font-style: italic;
}

.SettingSecBtn .dropdown-item:hover {
  background-color: unset;
}

.SettingSecBtn .dropdown-item:active {
  background-color: #fff;
  color: #000;
}

/* Start Google Popup  */
.googleConnSec .modal-dialog {
  min-width: 479px;
  max-width: 479px;
}

.googleConnSec .modal-content {
  border: 1px solid #d0d4e4;
  border-radius: 18px;
  text-align: center;
  height: 446px;
  min-width: 479px;
  max-width: 479px;
}

.googleConnSec .modal-body {
  padding: 42px 42px;
}

.googleConnSec .GoogleSecLogo span {
  width: 1px;
  height: 100px;
  background-color: #d0d5dd;
}

.googleConnSec .GoogleSecLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
  margin: 0 auto 42px;
}

.googleInnSec .InnerContent h2 {
  font-size: 32px;
  font-weight: 500;
  color: #000000;
  margin: 0 auto 0;
}

.googleInnSec .InnerContent p {
  font-size: 14px;
  color: #767676;
  margin: 0;
  font-weight: 400;
}

.googlePopBtns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 13px;
  margin: 40px auto 0;
  align-items: center;
}

.googlePopBtns .btn-primary {
  font-size: 14px;
  font-weight: 700;
  background-color: #1a73e8 !important;
  padding: 8px 15px;
  height: 32px;
  border: 1px solid #d0d5dd;
  line-height: 1;
  border-radius: 100px;
  min-width: 150px;
  max-width: 150px;
  white-space: nowrap;
}

.googlePopBtns .btn-secondary {
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #d0d5dd;
  background-color: unset;
  color: #323338;
  border-radius: 100px;
  height: 32px;
  line-height: 1;
  min-width: 62px;
  max-width: 62px;
}

/* End Google Popup  */

/* start Excel Sheet Popup  */
.excelSheetPopup .modal-dialog {
  min-width: 760px;
  max-width: 760px;
}

.excelSheetPopup .modal-content {
  height: 581px;
  overflow: auto;
  text-align: center;
  border: 1px solid #d0d4e4;
  border-radius: 18px;
}

.excelSheetPopup .modal-body {
  padding: 52px 42px;
}

.excelSheetSec {
  margin: 0 auto 10px;
}

.excelSheetSec img {
  width: 55px;
  height: auto;
  margin: 0 auto;
}

.excelSheetPopup .googlePopBtns .btn-primary {
  min-width: 184px;
  max-width: 184px;
}

.ecelCheckBtn .form-check {
  display: flex;
  align-items: center;
  gap: 11px;
  margin: 0 auto 12px;
}

.ecelCheckBtn .form-check-label {
  font-size: 14px;
  font-weight: 400;
  color: #4a4a4a;
}

.ecelCheckBtn {
  margin: 46px;
}
.sabsnw1 {
  margin-right: 10px;
}
#SpreadsheetSave {
  text-align: center;
}
.sheetDroupDowns {
  text-align: left;
  margin: 56px auto;
}

.sheetDroupDowns .autoFolloStageSec .dropdown-header span {
  color: #767676;
  display: flex;
  align-items: center;
  gap: 12px;
}

.sheetDroupDowns .autoFolloStageSec .dropdown-header {
  border-radius: 100px;
  height: 43px;
  line-height: 1;
  box-shadow: 0 1px 3px #0000003d;
}

.sheetDroupDowns .autoFolloStageSec .dropdown-list {
  border-radius: 24px;
  padding: 16px 18px;
  margin-top: 12px;
}

.sheetDroupDowns .autoFolloStageSec .search-box input {
  background-color: #e5e8eb;
  border: 1px solid #d0d4e4;
  color: #767676;
  padding: 13px 13px 13px 34px;
  height: 42px;
  border-radius: 14px;
}

.sheetDroupDowns .lidelFlex .liTextHead {
  font-size: 14px;
  font-weight: 400;
  color: #323338;
  display: flex;
  align-items: center;
  gap: 12px;
}

.sheetDroupDowns .sheetParaSec p {
  font-size: 13px;
  color: #86888a;
  font-style: italic;
  margin: 0;
}

.sheetDroupDowns .autoFolloStageSec .dropdown-items li {
  padding: 17px 8px;
  border-bottom: 1px solid #e5e8eb;
  border-radius: 0;
}

.sheetDroupDowns h6 {
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 400;
  margin: 0 auto 12px;
}

.sheetDroupDowns .cancel-icon {
  position: absolute;
  right: 14px;
  top: 12px;
  line-height: 1;
}

.sheetDroupDowns .autoFolloStageSec .dropdown-items {
  max-height: 170px;
}

/* End Excel Sheet Popup  */
.tenXButtonsSec .accordion-body.stageAutoPad {
  padding: 0 0 30px;
}

/* Start follow up Delete Popup  */
.followDeleSec .modal-dialog {
  min-width: 202px;
  max-width: 202px;
}

.followDeleSec .modal-content {
  border: 1px solid #d0d4e4;
  border-radius: 8px;
}

.followDeleSec .modal-body {
  padding: 13px;
  text-align: center;
}

.followDeleSec .modal-body h6 {
  font-size: 16px;
  font-weight: 400;
  color: #202124;
  margin: 0 auto 23px;
}

.followDeleSec .modal-body .deleYesNoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.followDeleSec .modal-body .deleYesNoBtn button {
  font-size: 14px;
  font-weight: bold;
  height: 28px;
  line-height: 1;
  padding: 6px 12px;
  border-radius: 100px;
  background-color: #e5e8eb;
  color: #323338;
  border: none;
}

.followDeleSec .modal-body .deleYesNoBtn button.active {
  background-color: #1a73e8;
  color: #fff;
}

/* End follow up Delete Popup  */
.customeSecDate .modal-dialog {
  min-width: 633px;
  max-width: 633px;
}

.customeSecDate .modal-content {
  border: 1px solid #d0d5dd;
  border-radius: 18px;
}

.customeSecDate .modal-body {
  padding: 30px;
}

.flexDateTime .time-picker {
  position: unset;
  background: unset;
  box-shadow: unset;
  border: unset;
  padding: 0;
  text-align: center;
  width: auto;
  border-radius: unset;
}

.flexDateTime .calendar {
  width: 100%;
  min-height: 300px;
}

.flexDateTime .headline {
  padding: 10px 0;
  text-align: center;
  position: relative;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 13px;
  justify-content: center;
}

.flexDateTime .headline .month {
  font-size: 16px;
  color: #4a4a4a;
}

.flexDateTime .headline .divider {
  color: #2ecc71;
  /* $my-green */
}

.flexDateTime .headline .year {
  color: #4a4a4a;
  font-size: 16px;
  /* $light-gray */
}

.flexDateTime .headline .click-left,
.flexDateTime .headline .click-right {
  cursor: pointer;
  position: relative;
}

.flexDateTime .headline .click-left {
  left: 0;
  width: 28px;
  height: 28px;
  background-color: #0076fe36;
  border-radius: 100px;
  line-height: 1.7;
  color: #bdc6c6;
}

.flexDateTime .headline .click-right {
  right: 0;
  width: 28px;
  height: 28px;
  background-color: #1a73e8;
  border-radius: 100px;
  line-height: 1.7;
  color: #fff;
}

.flexDateTime .weekdays,
.flexDateTime .days {
  text-align: center;
  margin: 0 auto;
}

.flexDateTime .weekdays * {
  width: 36px;
  margin: 12px 0;
  color: #ddd;
  display: inline-block;
  font-size: 10px;
  color: #3c413f;
}

.flexDateTime .date {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 34px;
  margin: 0px 8px;
  color: #ddd;
  font-size: 13px;
  cursor: pointer;
}

.flexDateTime .date.out-of-scope {
  color: #333;
  /* $dark-gray */
}

.flexDateTime .date.selected {
  color: #fff;
  border: none;
  background-color: #1a73e8;
  border-radius: 100px;
}

.calenderDivider {
  width: 0;
  border-left: 1px dashed #d5dfdf;
  height: 300px;
  background: transparent;
}

.customeSecDate h5 {
  font-size: 18px;
  color: #192020;
  font-weight: bold;
  margin: 0 auto 37px;
}

.dateTimeBtnFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 37px auto 0;
}

.dateTimeBtnFlex button {
  background-color: unset !important;
  color: #4a4a4a !important;
  font-size: 18px !important;
  border: unset !important;
  padding: 12px !important;
}

/* ============= */

.timePickSec .clock {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  border-radius: 50%;
  margin: 0 auto;
}

.timePickSec .hour-marker {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.timePickSec .hour-marker.selected {
  background-color: #1976d2;
  color: white;
}

.timePickSec .hand {
  position: absolute;
  width: 2px;
  height: 70px;
  background: #1976d2;
  top: 30px;
  left: 99px;
  transform-origin: bottom center;
}

.timePickSec .center-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #1976d2;
  border-radius: 50%;
  top: 95px;
  left: 95px;
}

.customeDisplay {
  display: block !important;
}

@media (max-width: 700px) {
  .customeSecDate h5 {
    text-align: center;
  }

  .respoFlexSec {
    flex-direction: column;
  }

  .calenderDivider {
    width: 100%;
    height: 0px;
    border-bottom: 1px dashed #d5dfdf;
    border-left: 0;
  }

  .flexDateTime .calendar {
    min-height: auto;
  }

  .customeSecDate .modal-body {
    padding: 20px 30px 10px;
  }

  .excelSheetPopup .modal-dialog {
    min-width: auto;
    max-width: max-content;
  }

  .googleConnSec .modal-dialog {
    min-width: auto;
    max-width: max-content;
  }

  .customeSecDate .modal-dialog {
    min-width: auto;
    max-width: 500px;
  }
}
